*{
    margin: 0;
    padding: 0;
}

.mint {
        background: #b9f0b4;
}

body{
    min-height: 2200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
            110deg,
            #ec8484 0%,
            #c9cf6f 50%,
            #66a2ca 100%
        );
    font-family: sans-serif;
}

.toggle-switch {
    transform: translateX(20px);
}

#trendfinder {
    font-family: "Datatype", monospace;
    font-size: 40px;
}

#navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 15px 40px;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-between;
}

.search-options {
    background-color: aquamarine;
    font-size: 18px;
    padding: 2px 7px;
    border-radius: 40px;
    display: flex;
    gap: 10px;
}

.option-btn {
    display: flex;
    border-radius: 50px;
    gap: 10px;
    margin: 3px;
    padding: 5px;
}

.option-btn.active {
    color: #9f67b4;
    background-color: #ffffff;
    box-shadow: #696969 0px 2px 2px;
}

#question {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 900;
    transform: translateY(100px);
    align-items: center;
    display: flex;
    justify-content: center;
}

/* 
#youtube{
    background-color: #66a2ca;
    border-radius: 5px;
    width: 90px;
    place-items: center;
    display: grid;
}

#google{
    background-color: #66a2ca;
    border-radius: 5px;
    width: 90px;
    place-items: center;
    display: grid;
} */

main{
    width: 300px;
    min-height: 100px;
    background-color: antiquewhite;
    border-radius: 30px;
    padding: 30px;
    box-sizing: border-box;
    box-shadow:0px 2px 10px #000000;
    margin: auto;
    transform: translateY(-250px);
}

main form{
    border:1px solid #c2c2c2;
    display: flex;
    justify-content: space-between;
}

.content-wrapper {
    max-width: 800px;
    text-align: center;
    margin: 80px auto 100px auto;
}

.autoshow{
    font-size: 90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    line-height: 2;
    padding: 40px 30px;
    width: fit-content;
}

.autoshow .intro{
    transform: translateY(-200px);
    font-size: 5.8rem;
    text-shadow: 2px 2px 0px #ec7777;
}

.bottom-left-section {
    margin: 0 200px 0 0px;
    text-align: center;
}

#moreInfo {
    padding: 14px 32px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 12px #272727;
    display: inline-flex;

    white-space: nowrap;
    min-width: 180px;
    width: fit-content;
    /* transform: translateY(-150px); */
}

#moreInfo:hover {
    background-color: #c4c4c4;
    box-shadow: 0px 6px 16px #000000;
}


#tab-body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 420px;
    padding: 30px 25px;
    z-index: 3000;
    background-color: rgb(255, 255, 255);
    margin: 40px 40px 40px 40px;
    border-radius: 50px;
    box-shadow: 7px 3px 10px 0px #000000;
}

.fa-solid.fa-x {
position: absolute;
top: 30px;
right: 30px;
font-size: 20px;
cursor: pointer;
}

#tab-body h2 {
    text-align: center;
    font-size: 1.6rem;
    margin: 0 0 40px 10px;
}

.list-body ul {
    list-style: none;
    text-align: center;
}

.list-body li {
    font-size: 1.4rem;
    padding: 8px 0;
}

.side-tab {
    display: none;
}